  html{
    height:100%;
    font:14px/1 "Helvetica Neue", Helvetica, STHeiTi, sans-serif;
  }
  body{
    height:100%;
    margin:0;
    background:#e484b9;
  }

  #mask{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    padding-top:100px;
    text-align: center;
    vertical-align: middle;
    background:#e484b9;
    color:#fff;
    font-size:0.9em;
    font-weight: bold;
    z-index:99;
  }

  #p1{
    height:100%;
    background:#e484b9 url(../img/bg.jpg) no-repeat;
    background-size:100%;
    text-align: center;
  }

  #p2{
    position: relative;
    display:none; 
    height:100%;
    background:#e484b9;
    transition:opacity 1s;
  }
  #p2.hide{
    opacity: 0;
  }

  #p3{
    display:none; 
    height:100%;
    background-color:#e484b9;
    text-align: center;
  }
  .content{
    position: absolute;
    bottom:10%;
    width:100%;
  }
  .text{
    margin:0;
    line-height:1.5em;
    font-size:0.9em;
    font-weight: bolder;
    color:#fff;
  }
  .text .causion{
    display:inline-block;
    margin-top:5px;
    padding:5px;
    font-weight: lighter;
    background-color:#c03;
    border-radius: 5px;
  }
  .text strong{
    font-weight:bolder;
    color:#900;
  }
  .btn{
    display:block;
    height:40px;
    margin:10px auto;
    line-height:40px;
    background-color:#ee4987;
    box-shadow:0 5px #ce0351;
    border-radius: 7px;
    font-size:1.5em;
    text-align: center;
    color:#fff;
    cursor:pointer;
  }

  .btn-start,
  .btn-regame{
    width:160px;
    margin-top:25px;
  }
  .btn-topic,
  .btn-share{
    width:200px;
    margin-top:25px;
  }

  .square{
    position:absolute;
    top:50%;
    margin:0 auto;
    padding:10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background:#d14591;
    border-radius:5px;
  }
  .square .box{
    position: relative;
    display:block;
    float:left;
    width:33.33333%;
    height:33.33333%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border:4px solid #d14591;
    border-radius: 5px;
    background:url(../img/boxbg.jpg) no-repeat;
    background-size:cover;
    text-align: center;
    cursor:pointer;
  }
  .square .box img{
    display:none;
    position: absolute;
    top:50%;
    left:50%;
    margin-top:-17px;
    margin-left:-30px;
  }
  .square .box.tap img{
    display:inline-block;
  }

  .info{
    position: relative;
    height:42px;
    margin:0 auto;
    padding:5px;
    text-align: center;
  }

  #p2 .score-wrap{
    position: absolute;
    top:10px;
    left:10px;
    line-height:1.2em;
    color:#fff;
  }
  #p2 .score-wrap .score{
    font-style: normal;
  }

  .time{
    display:inline-block;
    width:20px;
    padding:5px;
    background:#b13a7c;
    border-radius:5px;
    font-size:1.2em;
    text-align: center;
    color:#fff;
  }
  /*高亮*/
  .time.hi{
    background-color: #fff;
    color:#b13a7c;
  }

  .result{
    padding-top:10px;
    color:#fff;
  }
  .result p{
    margin:0;
    padding:5px 25px;
  }
  .grade{
    font-size:0.8em;
  }
  .grade i{
    font-style: normal;
  }
  .nick{
    font-weight: bolder;
    color:lightyellow;
  }
  .girl{
    width:100px;
    height:100px;
    margin:10px auto;
    background:#fff;
    background-size:cover;
  }
  #p3 .text{
    color:#fff;
  }
  .tip{
    display:none;
    position:absolute;
    top:40%;
    left:50%;
    width:200px;
    margin-left:-100px;
    padding:20px 10px;
    line-height:1.5em;
    vertical-align:middle;
    background:#fff;
    border-radius:5px;
    text-align:center;
    color:#333;
  }

  @media screen and (min-width:800px){
    html{font-size:16px;}
    #p1{
      background-image:url(../img/bgpc.jpg);
    }
    .content{
      bottom:5%;
    }
  }
