html{
  height:100%;
}
body{
  height:100%;
  margin:0;
  background:#f06060;
}

#p1{
  height:100%;
  background:#7bc3fd;
  text-align: center;
}
#p2{
  display:none; 
  position: relative;
  height:100%;
}
#p3{
  display:none;
  text-align: center;
}

.btn-start,
.btn-regame{
  margin-top:150px;
  display:inline-block;
  width:200px;
  height:60px;
  line-height:60px;
  background:orange;
  border-radius: 10px;
  text-align: center;
  color:#fff;
}

.square{
  position:absolute;
  bottom:10%;
  margin:0 auto;
  padding:10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background:#ccc;
  border-radius:5px;
}
.square .box{
  display:block;
  float:left;
  width:33.33333%;
  height:33.33333%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border:2px solid #ccc;
  border-radius: 5px;
  background-color:#7bc3fd;
  background-size:cover;
  cursor:pointer;
}

.info{
  padding:5px;
}
.score{
  font-size:1.2em;
  color:#fff;
}
.time{
  display:inline-block;
  width:20px;
  margin-left:20px;
  padding:5px;
  background:#fd9090;
  border-radius:5px;
  font-size:1.2em;
  text-align: center;
  color:#fff;
}
/*高亮*/
.time.hi{
  background-color: #fff;
  color:red;
}

.girl{
  width:100px;
  height:100px;
  margin:0 auto;
  background:#fff;
}


